
<div class="container">
        <h2>Task Entry</h2>
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="taskName">Task Name</label>
                <input type="text" formControlName="taskname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.taskname.errors }" />
                <div *ngIf="submitted && f.taskname.errors" class="invalid-feedback">
                    <div *ngIf="f.taskname.errors.required">Task Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="project">Project</label>
                <select class="custom-select" formControlName="project">
                        <option selected>Select Project</option>
                        <option *ngFor="let project of ProjectList" [ngValue]="project.ProjectName">{{project.ProjectName}}</option>
                      </select>
                <div *ngIf="submitted && f.project.errors" class="invalid-feedback">
                    <div *ngIf="f.project.errors.required">Project is required</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                </button>
                <a routerLink="/" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
