
<div class="px-5">
        <div class="row justify-content-between">
   
                <h2 class="col">Task Console</h2>
                <button class="col-auto btn btn-primary" (click)="addNewTask()">Add New Task</button>
            </div>
            <h2></h2>
            <table>
                <thead>
                    <tr>
                            <td >Task Name</td>
                            <td >Project Name</td>
                            <td></td>
                            <td></td>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let row of tasklist">
                        <td width="30%">{{row.taskname}}</td>
                        <td width="30%">{{row.project}}</td>
                        <td>
                            <button class="mr-2" *ngIf="row.taskStatus == taskStatuses.Unattended || row.taskStatus == taskStatuses.Paused" (click)="action(taskActions.Start, row)"><i class="fas fa-play"></i></button>
                            <button class="mr-2" *ngIf="row.taskStatus == taskStatuses.Started || row.taskStatus == taskStatuses.Resumed" (click)="action(taskActions.Pause, row)"><i class="fas fa-pause"></i></button>
                            <button class="mr-2" *ngIf="row.taskStatus == taskStatuses.Started || row.taskStatus == taskStatuses.Resumed || row.taskStatus == taskStatuses.Paused" (click)="action(taskActions.Stop, row)"><i class="fas fa-stop-circle"></i></button>
                        </td>
                        <td>
                            <button class="btn btn-secondary" (click)="viewTaskHistory(row)">View History</button>
                        </td>
                    </tr>
                </tbody>
            </table>
</div>

