/* You can add global styles to this file, and also import other style files */
.container {
    @media screen and (min-width: 320px) {
      padding: 10px 20px;  
    }

    @media screen and (min-width: 768px) {
        padding: 10px 30%;  
      }
}

table {
  width: 100%;
  tr {    
    background-color: #f3f2f2;
    border-top: #b7b7b7 1px solid;
    border-bottom: #b7b7b7 1px solid;

    td{
      padding: 5px;
    }
  }
}